<div id="screen-login" class="screen">
  <div class="welcome-logo-img" style="width:120px;height:120px;"><img src="views/img/logopng.png" alt="DeliClub"/></div>
  <h2 style="font-size: 28px;">Iniciar Sesión</h2>
  <input id="username" placeholder="Usuario"/>
  <input id="password" type="password" placeholder="Contraseña"/>
  <button class="btn-primary" style="width:100%;" onclick="login()">Entrar ahora</button>
  <button class="btn-outline" onclick="showScreen('screen-welcome')" style="margin-top:15px;">Volver</button>
</div>
