<div id="screen-register-user" class="screen reg-screen">
  <a onclick="showScreen('screen-welcome')" style="font-size:22px; border:none; display:inline-block; margin-bottom:15px; cursor:pointer;">←</a>
  <h2>Registro Usuario</h2>
  <label class="field-label">Nombre completo</label>
  <input id="reg-user-name" placeholder="" />
  <label class="field-label">Telefono</label>
  <input id="reg-user-phone" type="tel" placeholder="" />
  <label class="field-label">Correo Electronico</label>
  <input id="reg-user-email" type="email" placeholder="" />
  <label class="field-label">Phantom Wallet</label>
  <button class="phantom-btn" onclick="connectWalletForReg('reg-user')" id="reg-user-phantom-btn">🟣 Conectar Phantom</button>
  <div id="reg-user-wallet-status"></div>
  <input type="hidden" id="reg-user-wallet" />
  <div class="triangle-deco"></div>
  <button class="btn-register-main" onclick="register('Cliente')">Registrarme</button>
</div>
